#w-gui{
    padding: 0px;
    background: transparent;
    color: white;
    font-family: Microsoft YaHei UI;
    padding: 0px;
}
#w-welcome{
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    color: black;
    background: white;
    margin-left: auto;
    margin-right: auto;
}
#w-idle{
    color: black;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    font-size: 20px;
    text-align: center;
}

.split-line{
    background: gray;
    height:1px;
    width:100%;
}