#guiHTML{
    padding: 0px;
    background: white;
    color: black;
    min-height: 300px;
}
.hide{
    display: none;
}
.freeDiv{
    padding: 0px;
    margin: 0px;
}
.skill-frame{
    margin:20px; 
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid #00b0f0;
}
.skill-name{
    padding: 0px;
    text-align: center;
    background: #00b0f0;
    color: white;
}
.skills-list{
    padding-left:10px;color: gray
}
.split-line{
    background: gray;
    height:1px;
    width:100%
}
.j-date{
    color:gray;
    margin: 2px;
}
.j-name{
    color: #00b0f0;
    margin: 2px;
}
.j-tip{
    color: gray;
    margin: 2px;
}
.j-frame{
    margin-top: 10px;
}
.self-introduction{
    color: gray;
    font-size: 12px;
}