#gui{
    padding: 0px;
    background: black;
    color: white;
    min-height: 300px;
}
#welcome{
    color: black;
    background: white;
    margin-left: auto;
    margin-right: auto;
}
#idle{
    color: black;
    background: white;
    margin-left: auto;
    margin-right: auto;
}
.split-line{
    background: gray;
    height:1px;
    width:100%;
}