body{
    background: black;
    color: gray;
}
.outputLine{
    margin: 0px;
    color: gray;
}
.userName{
    color: greenyellow;
}
.inputArea{
    color: white;
}
.area
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: transparent;
}