::-webkit-scrollbar{
    display:none;
}
body{
    background: black;
    color: gray;
}
.area
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: transparent;
}
#bgaudio{
    right:10px;
    top: 10px;
    position: fixed;
    z-index: 9999;
}
#w-topbtns{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}