/*
resume.css
简历元素的样式表
@zsh2401
Jun 15,2019
*/
#w-resume
{
    padding: 0px;
    margin:0px;
    font-family: Microsoft YaHei UI;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: rgb(181, 181, 181);
}
#w-resume #w-cover
{
    text-align: center;
    background: white;
    color: black;
    margin: 0px;
    margin-top:20px;
    margin-bottom:20px;
    height: 850px;
}
#w-resume #w-cover #head
{
    font-family: Candara Light;
    text-align: center;
    font-size: 50px;
    background: #00b0f0;
    color: white;
    padding: 20px;
}
#w-resume #w-cover #icon
{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#w-resume #w-cover #name
{
    margin-left: auto;
    margin-right: auto;
}
#w-resume #w-cover #title
{
    margin-left: auto;
    margin-right: auto;
}
#w-resume #w-cover #skills
{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 70px;
    color: #00b0f0;
    margin-left: auto;
    margin-right: auto;
}
#w-resume #w-cover #bottom
{
    padding-bottom: 40px;
}

#w-resume #w-details{
    padding: 0px;
    margin: 0px;
    font-family: Microsoft YaHei UI;
    background-color: white;
    height: 850px;
}
#w-resume #w-details #left {
    padding: 0px;box-shadow: 0px -1px 5px #888888;
}
#w-resume ul
{
    padding: 0px;
    padding-left: 20px;
}

/* 头像 */
#w-head{
    color:white;
    background-color: #00b0f0;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
}
#w-head #w-cname{
    margin-top: 10px;
    text-align: center
}
#w-head #w-ename{
    margin: 0px;
    text-align: center
}
#w-head #w-want{
    color:#00b0f0;
    background-color: white;
    margin: 20px;
    text-align: center;
    padding: 5px; 
    border-radius: 10px;
}
/* 头像 */

/* 教育信息 */
#w-edu{
    margin: 0px;
    padding: 0px;
    margin-top: 25px; 
}
#w-edu #w-edu-title{
    color:white;background-color: #00b0f0;padding: 10px;
}
#w-edu .block{
    background: #00b0f0;
    color:#00b0f0
}
#w-edu .space{
    background: white;
    color:white
}
#w-edu #w-edu-period{
}
#w-edu #w-edu-pro{
}
#w-edu #w-edu-where{
    color: #00b0f0;
}
/* 教育信息 */


/* 证书信息 */
#w-cer{
    margin: 0px;
    padding: 0px;
    margin-top: 25px; 
}
#w-cer #w-cer-title{
    color:white;background-color: #00b0f0;padding: 10px;
}
#w-cer #w-cer-ncre3{}
#w-cer #w-cer-cet4{}
#w-cer #w-cer-rkm{}
/* 证书信息 */

/* 联系方式 */
#w-contact{
    margin: 0px;
    padding: 0px;
    margin-top: 25px; 
}
#w-contact-title{
    color:white;background-color: #00b0f0;padding: 10px;
}

#w-contact .contact-icon{
    float:left;
    height:20px;
    padding: 0px;
    margin: 0px
}
#w-contact .contact-div{
    margin-top: 6px;
    margin-bottom: 6px;
}
#w-contact .contact-info{
    margin-left: 30px;
    float:left;
    padding: 0px;
    margin: 0px
}
/* 联系方式 */

/* 技能 */
#w-skills .skill-title{
    background: #00b0f0;
    text-align: center;
    color: white;
}
#w-skills #w-skills-title{
    color:#00b0f0;
    margin-left: 20px
}
#w-skills .skill-frame{
    margin:20px; 
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid #00b0f0;
}
#w-skills .skill-name{
    padding: 0px;
    text-align: center;
    background: #00b0f0;
    color: white;
}
#w-skills .skills-list{
    padding-left:10px;color: gray
}
/* 技能 */

/* 获奖历史 */
#w-j-history{}
#w-j-history #w-j-title{
    color:#00b0f0;
    margin-left: 20px
}
#w-j-history .j-date{
    color:gray;
    margin: 2px;
}
#w-j-history .j-name{
    color: #00b0f0;
    margin: 2px;
}
#w-j-history .j-tip{
    /* color: gray; */
    margin: 2px;
}
#w-j-history .j-frame{
    margin-top: 10px;
}
/* 获奖历史 */

/* 简介 */
#w-introduction{
    font-size: 20px;
}
#w-introduction #w-introduction-title{
    color:#00b0f0;margin-left: 20px
}
#w-introduction .introduction-text{
    color: gray;
    font-size: 12px;
}
/* 简介 */

#w-self-recommendation{
    margin: 0px;
    margin-top:20px;
    margin-bottom:20px;
    height: 850px;
    padding-top: 50px;
    background: white;
    color: black;
}
#w-self-recommendation #white{
    text-align: center;
}
#w-self-recommendation #title{
   text-align: center;
   margin-bottom: 60px;
  
}
#w-self-recommendation #content{
   font-size: 14;
   margin: 40px;
}
#w-self-recommendation #last{
    margin: 40px;
    margin-top: 100px;
    text-align: right;
}